
<html>
	<head>
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<style>body{ margin:0 100; background:whitesmoke; }</style>
	</head>
	<body>
		<h1>3M Company (MMM) stock in the past year</h1>
		<iframe width="1000" height="550" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~shirlyn/17.embed?width=800&height=550"></iframe>
	</body>
</html>