<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css"  href="style.css">
<style>
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>



</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/recommended">Recommended Stocks</a>
  <a href="/mystocks">My Stocks</a>
  <a href="/about">About</a>
</div>

<div>Here is a list of hard coded recommended stocks, currently it links for a yahoo finance webpage.<div>

<div style="height:80px;width:800px;overflow:scroll;border:5px solid #0ADA0A;">
<a href="https://finance.yahoo.com/quote/AAPL/">AAPL price: xx.xx percent change: xxx.xx
</div>

<div style="height:80px;width:800px;overflow:scroll;border:5px solid #0ADA0A;">
<a href="https://finance.yahoo.com/quote/AAPL/">AAPL price: xx.xx percent change: xxx.xx%<\a>
</div>

<div style="height:80px;width:800px;overflow:scroll;border:5px solid #0ADA0A;">
<a href="https://finance.yahoo.com/quote/AAPL/">AAPL price: xx.xx percent change: xxx.xx%<\a>
</div>

</body>
</html>